.idea
.env
app/wordpress/wp-content/uploads/
app/wordpress/wp-content/fonts
backup
proxy_manager_config/proxy_manager
nginx/logs
nginx/logs/wordpress_access.log
nginx/logs/wordpress_error.log
nginx/logs/laravel_access.log
nginx/logs/laravel_error.log